// scss-lint:disable all
@font-face {
  font-family: 'hug';
  src: url('./assets/fonts/hug.eot');
  src: url('./assets/fonts/hug.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/hug.ttf') format('truetype'),
    url('./assets/fonts/hug.woff') format('woff'),
    url('./assets/fonts/hug.svg#hug') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
